* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(254, 251, 231);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */
.header {
    background-color: rgb(218, 229, 208);
    text-align: center;
    padding: 16px;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 0px 10px 8px #8888;
}

/* container for rps buttons */
.buttons-container {
    flex: 2 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.rps {
    background-color: rgb(249, 235, 200);
    padding: 18px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 5px 8px 8px #8888;
}

.rps:hover {
    transform: scale(1.1);
}



/* reset-button */

.reset-container {
    text-align: center;
    padding: 12px;
}

.reset-button {
    background-color: rgb(218, 229, 208);
    padding: 5px 8px;
    color: red;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: 5px 8px 8px #8888;
}



/* container for live score */
.score-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.player-hand, .computer-hand {
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
}

.player-hand {
    background-color: rgb(249, 235, 200);
    flex: 2 0 auto;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 5px 10px 8px #8888;
    
}

.computer-hand {
    background-color: rgb(249, 235, 200);
    flex: 2 0 auto;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    box-shadow: -5px 10px 8px #8888;
    
}

.player-hand p, .computer-hand p {
    font-size: 28px;
    font-weight: bolder;
}

/* score board */
.score {
    width: 500px;
    min-width: 500px;
    justify-self: center;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-shadow: 5px 10px 8px #8888;;
}

.score-header {
    font-size: 28px;
}

.live-score {
    font-size: 36px;
    font-weight: bold;
}

.round-result {
    font-size: 22px;
    text-decoration: underline;
}



.final-result {
    flex: 2 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-result p {
    font-size: 44px;
    font-weight: bolder;
    text-shadow: 5px 10px 8px #8888;;
}



/* footer */
.footer {
    background-color: rgb(218, 229, 208);
    justify-self: end;
    text-align: center;
    padding: 16px;
}